.form-container {
  width: 100vw;
  height: 60px;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: #efe2b2;

  button {
    height: 100%;
    border: solid black 1px;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    background-color: #8d775c;
    color: white;
    transition: 0.5s;
    &:hover {
      background-color: #4d3009;
    }
  }

  input {
    height: 100%;
    border: solid black 1px;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;

    &:hover {
      border: solid #8d775c 1px;
    }

    &:focus {
      outline: none !important;
      box-shadow: 0 0 2px #4d3009;
    }
  }
}
