@import "../../common/global.scss";

.data-container {
  flex: 1 1 auto;
  @include flexCenter();
  flex-direction: column;

  .error-message {
    font-size: larger;
    font-weight: bold;
  }

  .header {
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }

  table {
    border-collapse: collapse;
    margin: 25px 0 20px 0;
    font-size: 1em;
    width: 80%;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  table tbody tr:not(.moreinfo-container) {
    cursor: pointer;
    transition: $transitionTime;
    &:hover {
      background-color: $hover_color;
    }
  }

  table thead tr {
    background-color: #ffffff;
  }
  table tbody tr:nth-of-type(odd) {
    background-color: $secondary_color;
  }
  table tbody tr:last-of-type {
    border-bottom: 2px solid black;
  }

  table th,
  table td {
    padding: 12px 15px;
  }

  .active-row {
    background-color: $hover_color !important;
  }

  button {
    margin-bottom: 10px;
  }

  .scroll-top {
    position: fixed;
    bottom: 10px;
    right: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: white;

    &:hover {
      background-color: #cca98d;
    }
  }
}

@media screen and (max-width: 700px) {
  .data-container {
    height: auto;
    padding: 20px;

    thead {
      display: none;
    }

    tr {
      display: block;
      margin-bottom: 0.625em;
    }

    td {
      display: block;
      border: 1px solid;
      text-align: right;
      min-height: 40px;

      &::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  table {
    width: 90vw !important;
    min-width: 10px !important;
  }
  td {
    width: auto;
  }
}
