@import "../../common/global.scss";

.moreinfo-container {
  max-height: 350px;
  border-bottom: 2px solid black;
  background-color: $secondary_color !important;

  .main-div-container {
    .breadcrumb li:last-child a {
      font-weight: normal;
    }
    .breadcrumb li::before {
      font-weight: bolder;
      color: black;
    }

    .bottom-div {
      display: flex;
      gap: 15px;
      text-align: left;

      img {
        max-height: 200px;
        max-width: 150px;
      }
      .img-placeholder {
        height: 200px;
        width: 130px;
        border: solid black 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
      }

      .placeholders {
        width: 250px;
        span {
          background-color: lightgray;
        }
      }

      a {
        font-weight: normal;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .moreinfo-container {
    max-height: none;
    .main-div-container {
      .bottom-div {
        @include flexCenter();
        flex-direction: column;
      }
    }
  }
}
