.moreinfo-container {
  max-height: 350px;
  .main-div-container {
    .bottom-div {
      display: flex;
      gap: 5px;

      img {
        max-height: 200px;
        max-width: 150px;
      }
      .img-placeholder {
        height: 200px;
        width: 130px;
        border: solid black 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightgray;
      }
    }
  }
}
