$primary_color: #59372b;
$secondary_color: #f7e7cf;
$hover_color: #cca98d;
$transitionTime: 0.5s;

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  height: 100%;
  border: solid black 1px;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
  background-color: $secondary_color;
  color: black;
  transition: $transitionTime;

  &:hover {
    background-color: $hover_color;
  }

  &:disabled {
    background-color: $hover_color;
  }
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  transition: $transitionTime;
  &:hover {
    color: $hover_color;
  }
}
